<footer class="site-footer">
  <nav>
    <ul>
      <li><a href="/#/start">Start</a></li>
      <li><a href="/dromen/#/dromen">Dromen</a></li>
      <li><a href="/denken/#/denken">Denken</a></li>
      <li><a href="/delen/#/delen">Delen</a></li>
      <li><a href="/durven/#/durven">Durven</a></li>
      <li><a href="/doen/#/doen">Doen</a></li>
      <li><a href="/doorzetten/#/doorzetten">Doorzetten</a></li>
      <li><a href="/dupliceren/#/dupliceren">Dupliceren</a></li>
      <li><a href="/danken/#/danken">Danken</a></li>
      <li><a href="/einde/#/einde">Einde</a></li>
    </ul>
  </nav>
</footer>
<script type="text/javascript" src="/js/app.bundle.js"></script>
<script type="text/javascript">
  window.Data = {% cached_pages %};
</script>
