<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700' rel='stylesheet' type='text/css'>
    <meta property="og:image" content="http://groei.geo-genesis.net/share.png" />
    <link rel="image_src" href="http://groei.geo-genesis.net/share.png"/>
    <link rel="stylesheet" href="{{ "/css/screen.css" | prepend: site.baseurl }}">
</head>
