* {
    @include box-sizing(border-box);
    color: $color__b;
}

body, html {
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 120%;
    * {
        @include yan;
    }
    .logo {
        @include sprite-background(logo);
        text-indent: -999em;
        position: absolute; right: 20px; top: 20px;
    }
}

a {
    color: $color__c;
    &:hover {
        color: $color__c - 30;
        text-decoration: none;
    }
}

div#App {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    bottom: 0; right: 0;
}

div#secondApp {
    position: absolute; left: 100%;
    top: 0; width: 100%;
    height: 100%; bottom: 0;
}

.site-footer {
    position: absolute; bottom: 10px;
    left: 50%;
    width: 70%;
    @include transform(translateX(-50%) translateY(50px));
    @include opacity(0);
    

    &.show {
        @include transition(transform 1.5s, opacity 1.5s);
        @include transform(translateX(-50%) translateY(0px));
        @include opacity(1);
    }
    
    li {
        display: inline-block; float: left;
        border-top: solid 2px $color__c;
        width: 10%;

        &:last-child {
            border: none;
        }
    }
    a {
        display: inline-block; position: relative; top: -12px;
        width: 25px; height: 25px; background:$color__b; border: solid 2px $color__c;
        @include border-radius(100%); @include transition(all 0.3s);
        color: $color__c; text-decoration: none;
        text-align: center; font-size: 90%;
        &:hover {
            background:$color__a;
            border: solid 2px $color__b;
        }
        &:before {
            content: ''; display: block; height: 30px;
        }
    }
    li.diff a {
        border: solid 2px $color__b;
        background:$color__c;
        &:hover {
            background:$color__a;
        }
    }
    li.active {
        a {
            width: 35px; height: 35px;
            background:$color__a; border: solid 2px $color__c;
            top: -18px;
            &:before {
                content: ''; display: block; height: 40px;
            }
        }
    }
    &.theme__orange {
        li {
            border-color: $color__a;

            a {
                border-color: $color__a;
                color: $color__a;                
            }
        }
    }
}